@import "tailwindcss";
@plugin "daisyui";

:root {
  --root-bg: #fff;
  --color-primary: #4acbd6;
  --color-base-content: #000;
  --color-base-100: #fff;
  --color-accent: #ffcb00;
}

* {
  font-family: var(--font-open-sans);
}

.btn {
  --btn-fg: #fff;
}

.validator-hint {
  display: none;
}
.validator:has(:user-invalid) ~ .validator-hint {
  display: block;
}
